.beincredible {
    position: relative;
    padding: 80px 0;
    background-color: var(--color-blue-gray);
}

.beincredible .beincredible-wrapper {
    display: flex;
}

.beincredible .beincredible-left-content {
    width: 100%;
    max-width: 400px;
}

.beincredible .beincredible-description {
    color: var(--color-white);
    font-family: var(--font-regular);
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    margin-bottom: 24px;
}

.beincredible .beincredible-swiper {
    width: 100%;
}

.beincredible .beincredible-img-wrapper {
    overflow: hidden;
}

.beincredible .beincredible-card-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.beincredible .beincredible-text {
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    padding: 16px;
}

.beincredible .beincredible-card-title {
    color: white;
    margin-left: 8px;
    color: var(--Blue-Gray-900, #0F172A);
    font-family: var(--font-regular);
    font-size: 14px;
    font-weight: var(--fw-400);
    line-height: 19.6px;
}

.beincredible .beincredible-card {
    transition: all .3s ease-in-out;
}

.swiper-slide.beincredible-card.swiper-slide-prev {
    transform: scaleX(0.5);
}

.swiper-slide.beincredible-card.swiper-slide-next {
    transform: scaleX(0.5);
}