.category {
    position: relative;
    padding: 80px 0;
    background-color: var(--color-white);
    overflow: hidden;
}

.category .category-card-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: visible;
}

.category .category-card {
    cursor: pointer;
}

.category .category-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

