.category {
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
}

.category .category-card-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: visible;
}

.category .category-card {
    position: relative;
}

.category .category-text{
    position: absolute;
    top: 24px;
    left: 24px;
}

.category .category-title {
    color: var(--color-white);
    font-family: var(--font-medium);
    font-size: 16px;
    font-weight: var(--fw-500);
    line-height: 17.6px;
}

.category .category-subtitle {
    color: var(--color-white);
    font-family: var(--font-semibold);
    font-size: 24px;
    font-weight: var(--fw-700);
    line-height: 26.4px;
}

.category .category-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}