html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {

    /* font family */
    --font-regular: 'Roboto-Regular';
    /* 400 */
    --font-medium: 'Roboto-Medium';
    /* 500 */
    --font-semibold: 'Roboto-SemiBold';
    /* 700 */
    --font-bold: 'Roboto-Bold';
    /* 800 */

    /* font weight */
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
    --fw-800: 800;

    --color-white: #FFF;
    --color-black: #0F172A;
    --color-blue: #2563EB;
    --color-blue-gray: #475569;

    --bg-rose: #881337;
    --bg-rose-light: #BE123C;
    --bg-dark-blue: #0F172A;
    --bg-light-blue: #F1F5F9;

    /* default transition */
    --default-transtion: all .3s ease-in-out;

}

.container {
    width: 100%;
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    /* border: 1px solid rgba(226, 139, 139, 0.622); */
}

.primary-btn-fill {
    text-decoration: none;
    border: 1px solid;
    border-radius: 5px;
    padding: 12px 28px;
    color: var(--color-white);
    font-family: var(--font-medium);
    font-size: 16px;
    font-weight: var(--fw-500);
    line-height: 24px;
    letter-spacing: 0.5px;
}

.primary-btn-outline {
    color: var(--color-white);
    font-family: var(--font-medium);
    font-size: 16px;
    font-weight: var(--fw-500);
    line-height: 24px;
    letter-spacing: 0.5px;
    padding: 12px 28px;
    border: 2px solid;
    border-color: var(--bg-rose-light);
    background: var(--bg-rose-light);
    cursor: pointer;
    border-radius: 5px;
}

.secondary-btn-fill {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: var(--bg-rose-light);
    color: var(--color-white);
    font-family: var(--font-medium);
    font-size: 20px;
    font-weight: var(--fw-500);
    line-height: 24px;
    letter-spacing: 0.5px;
    padding: 16px 32px;
    margin: 0 auto;
    border: 2px solid var(--bg-rose-light);
    transition: var(--default-transtion);
    border-radius: 5px;
}

.secondary-btn-fill:hover {
    background: transparent;
    color: var(--bg-rose-light);
}

.secondary-btn-outline {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: transparent;
    color: var(--color-white);
    font-family: var(--font-medium);
    font-size: 20px;
    font-weight: var(--fw-500);
    line-height: 24px;
    letter-spacing: 0.5px;
    padding: 16px 32px;
    margin: 0 auto;
    border: 2px solid var(--color-white);
    transition: var(--default-transtion);
    border-radius: 8px;
    cursor: pointer;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.primary-heading {
    color: var(--bg-dark-blue);
    font-family: var(--font-semibold);
    font-size: 40px;
    font-weight: var(--fw-700);
    line-height: 44px;
}

.secondary-heading {
    color: var(--color-white);
    font-family: var(--font-bold);
    font-size: 56px;
    font-weight: var(--fw-800);
    line-height: 61.6px;
    margin-bottom: 24px;
}

.more-link-btn {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    color: var(--color-blue);
    font-family: var(--font-medium);
    font-size: 16px;
    font-weight: var(--fw-500);
    line-height: 24px;
    letter-spacing: 0.5px;
    padding: 12px 0;
}

.right-arrow {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

@media (max-width:769px) {
    .heading {
        align-items: flex-start;
        margin-bottom: 24px;
        flex-direction: column;
    }
}

@media (max-width:526px) {
    .primary-heading,
    .secondary-heading {
        font-size: 32px;
        line-height: 35.2px;
    }


}