html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*{
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{

    /* font family */
    --font-regular : 'Roboto-Regular';
    --font-medium : 'Roboto-Medium';
    --font-semibold : 'Roboto-SemiBold';
    --font-bold : 'Roboto-Bold';

    /* font weight */
    --fw-400 : 400;
    --fw-500 : 500;
    --fw-700 : 700;
    --fw-800 : 800;

    /* default transition */
    --default-transtion : all .3s ease-in-out;

}

.container{
    width: 100%;
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    border: 1px solid rgba(226, 139, 139, 0.622);
}